    section{
        background: #F8E0F7;
        width: 100%;
    }
    section {
      padding-top: 50px;
    }
    
    #footer {
      background: blueviolet;
      border-style: solid;
      border-color:blueviolet;
      color: #ccc;
      font-weight: bold;
      height: 100px;
      line-height: 50px;
      position: absolute;
      padding-bottom: 0;
      padding-right: 0;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
    }
