<body>

    <section>

        <div class="jumbotron text-center">
            <h1>Chào mừng bạn đến với trang web tự học toán Online dành cho học sinh lớp 1.</h1>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Luyện tập</h3>
                    <p>Chứa các chương theo chương trình học</p>
                    <p>Mỗi chương chứa các bài học phục vụ cho việc tự luyện của học sinh.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Kiểm tra</h3>
                    <p>Kiểm tra lại kiến thức đã học trên lớp.</p>
                    <p>Nhằm rèn luyện kỹ năng làm bài cho học sinh.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Kỹ năng sống</h3>
                    <p>Bao gồm các mẩu truyện và video hữa ích với trẻ.</p>
                    <p>Phụ huynh có thể tham khảo chức năng này để rèn kỹ năng cho trẻ.</p>
                </div>
            </div>
        </div>
    </section>
</body>